/*================== 
GENERAL STYLES 
====================*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
} */

html {
  font-size: 62.5%;
}
body {
  margin-bottom: 30px;
  background-color: #ebe8e8;
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
}
.container {
  max-width: 123rem;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
}
.title {
  margin: 0 0 2rem 0;
  font-style: italic;
}
.title span {
  font-size: 1.4rem;
}
.title--white {
  color: #fff;
}
.wrapper {
  text-align: center;
}
.wrapper--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper--white {
  background-color: #fff;
}

.wrapper--dark {
  background-color: #17213c;
}

/* ======================
INPUT TYPE TEXT
======================*/
.form-text div {
  max-width: 300px;
  margin: 0 auto;
}
.form-text label {
  display: block;
  margin-bottom: 1.2rem;
}
.form-text input {
  width: 100%;
  padding: 1.2rem;

  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  font-size: 1.8rem;
  background-color: #fdf2e9;
  color: #17aa12;
}
.form-text input::placeholder {
  color: #1445e6;
}

.form-text input:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(76, 25, 216, 0.5);
}

/* ======================
INPUT TYPE EMAIL
======================*/
.form-email div {
  max-width: 300px;
  margin: 0 auto;
}
.form-email label {
  display: block;
  margin-bottom: 1.2rem;
}
.form-email input {
  width: 100%;
  padding: 1.2rem;

  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  font-size: 1.8rem;
  background-color: #fdf2e9;
  color: inherit;
}
.form-email input::placeholder {
  color: #aaa;
}
.form-email input:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.form-email-2 {
  max-width: 30rem;
  margin-bottom: 2rem;
  position: relative;
}
.form-email-2 input {
  padding: 20px 60px 20px 0px;
  width: 100%;
  border: none;
  border-radius: 4px;
  border-bottom: 1px solid #cacad6;

  font-size: 1.8rem;
}
.form-email-2 input::placeholder {
  font-size: 1.8rem;
  color: #cacad6;
}
.form-email-2 input:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(253, 153, 71, 0.5);
}
.form-email-2 button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  border: none;
  border-radius: 50%;
  text-transform: uppercase;
  background-color: #cacad6;
  color: #5c5c5e;
  cursor: pointer;
}

.form-email-3 {
  width: 100%;
  max-width: 30rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.form-email-3 input {
  width: 100%;
  min-height: 5rem;
  flex: 1 1 auto;
  padding: 0 2rem;

  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  border-right: none;
  background-color: #f9f9f9;
  color: #737373;
}
.form-email-3 input:focus {
  color: #000;
}
.form-email-3 button {
  min-height: 5rem;
  padding: 0 1.8rem;
  justify-content: center;
  align-items: center;

  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 0 5px 5px 0;
  background-color: #ff7b47;
  color: #fff;
  cursor: pointer;

  transition: all 0.3s ease 0s;
}
.form-email-3 button:hover {
  background-color: #dd5520;
}

/* ======================
INPUT TYPE SELECT
======================*/
.form-select div {
  max-width: 300px;
  margin: 0 auto;
}
.form-select label {
  display: block;
  margin-bottom: 1.2rem;
}
.form-select select {
  width: 100%;
  padding: 1.2rem;

  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  font-size: 1.8rem;
  font-style: italic;
  background-color: #83c0d3;
  color: inherit;
}
.form-select select::placeholder {
  color: #aaa;
}
.form-select select:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgb(49, 219, 78);
}
