/*=========================== 
====== GENERAL STYLES  ====== 
=============================*/
:root {
  --color-green: #087f5b;
  --color-gray: #343a40;
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin-bottom: 30px;
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  background-color: #e6e6e6;
}
.container {
  max-width: 123rem;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
}
.title {
  margin: 0 0 2rem 0;
  font-size: 3.2rem;
  font-style: italic;
  text-decoration: underline;
}
.title--center {
  text-align: center;
}

/*=========================== 
========= STYLES v1  ======== 
=============================*/
.section1 {
  padding: 2rem 0;
  background-color: #f3f3f3;
}
.section1__header {
  max-width: 80rem;
  margin: 0 auto 4rem auto;
}
.section1__title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}
.section1__subtitle {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
  color: #444;
}
.section1__tabs {
  max-width: 100rem;
  margin: 8rem auto 0 auto;
  background-color: #fff;
}
.section1__tabs-container {
  display: flex;
  justify-content: center;
}
.btn {
  display: inline-block;
  padding: 1.25rem 4.5rem;

  border: none;
  border-radius: 10rem;

  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}
.section1__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}
.section1__tab:last-child {
  margin-right: 0;
}
.section1__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}
.section1-tab--1 {
  background-color: var(--color-secondary);
}
.section1-tab--1:hover {
  background-color: var(--color-secondary-darker);
}
.section1-tab--2 {
  background-color: var(--color-primary);
}
.section1-tab--2:hover {
  background-color: var(--color-primary-darker);
}
.section1-tab--3 {
  background-color: var(--color-tertiary);
}
.section1-tab--3:hover {
  background-color: var(--color-tertiary-darker);
}
.section1__tab--active {
  transform: translateY(-66%);
}
.section1__tabs-content {
  display: none;
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}
.section1__tabs-content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}
.section1__tabs-content-icon {
  height: 7rem;
  width: 7rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}
.section1__tabs-content-icon svg {
  width: 2.75rem;
  height: 2.75rem;
}
.section1__tabs-content-title {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}
.section1__tabs-content p {
  grid-column: 2;
}
.section1__tabs-content-icon--1 {
  background-color: var(--color-secondary-opacity);
}
.section1__tabs-content-icon--1 svg {
  fill: var(--color-secondary-darker);
}
.section1__tabs-content-icon--2 {
  background-color: var(--color-primary-opacity);
}
.section1__tabs-content-icon--2 svg {
  fill: var(--color-primary);
}
.section1__tabs-content-icon--3 {
  background-color: var(--color-tertiary-opacity);
}
.section1__tabs-content-icon--3 svg {
  fill: var(--color-tertiary);
}

/*=========================== 
========= STYLES v2  ======== 
=============================*/
.section2 {
  padding: 1.6rem 0;
}
.section2__header {
  display: flex;
}
.section2__header-title {
  flex-basis: 30rem;
  padding: 0 2rem 0 0;
}
.section2__header-text {
  margin-bottom: 2px;
  max-width: 330px;

  font-size: 36px;
  line-height: 114%;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.section2__tabs {
  display: grid;
  grid-template-columns: 30rem auto;
}
.section2__tabs-btn {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
.section2__tabs-btn-item {
  border: none;
  background-color: transparent;
  cursor: pointer;

  font-weight: 700;
  color: #888888;
  transition: all 0.3s ease 0s;
}
.section2__tabs-btn-item:hover {
  color: #070707;
}
.section2__tabs-btn-item--active {
  color: #070707;
}
.section2__tabs-content {
  min-height: 32rem;
  position: relative;
}
.section2__tabs-content-item {
  display: grid;
  grid-template-columns: auto 28rem;
  grid-template-rows: auto 15rem;
  gap: 4rem;

  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease 0s;
}
.section2__tabs-content-item--1 {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.section2__tabs-content-item--2 {
  background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}
.section2__tabs-content-item--3 {
  background-image: linear-gradient(
    to right,
    #e4afcb 0%,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #e2c58b 30%,
    #c2ce9c 64%,
    #7edbdc 100%
  );
}
.section2__tabs-content-item--4 {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.section2__tabs-content-item--active {
  opacity: 1;
}
.section2__tabs-content-img {
  grid-row: 1/-1;
  align-self: stretch;
  object-fit: cover;
}
.section2__tabs-content-box {
  margin: 0 0 0 7px;
}
.section2__tabs-content-box h3 {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 400;
}
.section2__tabs-video {
  grid-column: 2/3;
  padding: 9px 10px;
  width: 28rem;
  height: 15rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;

  background-image: url('./img/tabs-v2/content-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section2__tabs-video-btn {
  margin: 0 0 9px 22px;
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.section2__tabs-video-btn img {
  width: 100%;
  vertical-align: top;
}
.section2__tabs-video span {
  font-size: 13px;
  color: #f6f4f5;
}
